<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technology.textile.web.mapper.RoleDao">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.technology.textile.web.entity.Role">
		<id column="id" property="id" />
		<result column="role_name" property="roleName" />
		<result column="role_num" property="roleNum" />
		<result column="is_default" property="isDefault" />
		<result column="role_order" property="roleOrder" />
		<result column="status" property="status" />
		<result column="is_init" property="isInit" />
		<result column="create_id" property="createId" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="modify_id" property="modifyId" />
		<result column="modify_user" property="modifyUser" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name AS roleName, role_num AS roleNum, is_default AS isDefault, role_order AS roleOrder, status, is_init AS isInit, create_id AS createId, create_user AS createUser, create_time AS createTime, modify_id AS modifyId, modify_user AS modifyUser, modify_time AS modifyTime
    </sql>

</mapper>
