<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technology.textile.web.mapper.ZptcUserDao">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.technology.textile.web.entity.ZptcUser">
		<id column="id" property="id" />
		<result column="tea_name" property="teaName" />
		<result column="tea_code" property="teaCode" />
		<result column="tel" property="tel" />
		<result column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="password" property="password" />
		<result column="register_time" property="registerTime" />
		<result column="modify_time" property="modifyTime" />
		<result column="status" property="status" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, tea_name AS teaName, tea_code AS teaCode, tel, role_id AS roleId,
		role_name AS roleName, password, register_time AS registerTime,
		modify_time AS modifyTime, status
	</sql>

	<select id="getList" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from zptc_user
		where 1=1
		<if test="teaName != null and teaName != ''">
			tea_name like #{teaName,jdbcType=VARCHAR}
		</if>
		<if test="teaCode != null and teaCode != ''">
			tea_code = #{teaCode,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>
